<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @note.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  画像
  <%= f.file_field :image, class: "form-control image-field" %>
  名前
  <%= f.text_field :name, class: "form-control name-field" %>
  メールアドレス
  <%= f.text_field :email, class: "form-control email-field" %>
<% end %>