<div class="top-bar">
  <div class="container-1">
    アカウント情報を入力してください
  </div>
</div>

<div class="form-wrapper">
  <div class="container-2">
    <div class="devise-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, value: "メールアドレス", class: "form-sentence" %>
        <%= f.email_field :email, autofocus: true, class: "form-box" %>
      </div>

      <div class="field">
        <%= f.label :password, value: "パスワード", class: "form-sentence" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-box" %>
      </div>
    </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>