<!DOCTYPE html>
<html>
<head>
  <title>Localstand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="header-left">
    <%= link_to "localstand", root_path %>
  </div>
  <div class="header-right">
    <ul>
      <li>メッセージ</li>
      <li>ヘルプ</li>
      <li>名前</li>
    </ul>
  </div>
</header>
  <div class="top-wrapper">
      <div class="bg-inner">
        <div class="top-text">
          <h1>生まれた街を紹介しよう</h1>
        <h3>知られてない場所、楽しめる場所をシェアしてみよう</h3>
        </div>
        <div class="search-form">
        <%= form_tag %>
        <%= text_field_tag %>
        <% end %>
        </div>
      </div>
  </div>

<%= yield %>

</body>
</html>
