<!DOCTYPE html>
<html>
<head>
  <title>Localstand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="header-left">
    <%= link_to "SS", root_path %>
  </div>
  <% if user_signed_in? %>
  <div class="header-right">
    <ul>
      <li><%= link_to "投稿する", new_note_path %></li>
      <li><%= link_to "投稿一覧", notes_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to current_user.name, user_path(current_user.id) %></li>
    </ul>
  <% else %>
  <div class="header-right">
    <ul>
      <li><%= link_to "アカウント作成", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    </ul>
  </div>
  <% end %>
</header>

<%= yield %>

<footer>
  
</footer>

</body>
</html>
